.address {
    clear: both;
    font-size: larger;
    padding-bottom: 1.5em;
}
.addressParts ul li{
    list-style-type: none;
    padding-left: 1em;
    display: inline-block;
}
.addressParts{
    float:left;
    width:40%;
}
.locationList{
    width:60%;
    float:left;
}
.locationList ul li{
    padding-top: 3em;
    clear: both;
    list-style-type: none;
}
.locationList ul li a{
    clear:both;
}
.locationList ul li div.createdBy{
    clear:both;
    float: none;
}
.locationList .fish{
    float: none;
}
.locationList .fish li{
    float: none;
    display: inline-block
}
.pager{
    padding-top: 3em;
    clear: both;
}


