/*layout*/
dl{
    padding-top: 0.5em
}
dd{
    padding-left: 0.5em
}
div.form_footer{
    padding-top: 1em
}
.form_footer a{
    margin-top: -2px;
    display: inline-block;    
    vertical-align: middle;
}
.form_footer a span{
    padding-left: 0.5em;
}

/*nice view*/
#right_layout form input,#right_layout textarea,#right_layout select, .autocompete_input {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
    border: 1px solid #BBBBBB;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1em;
    min-width: 300px;
    padding: 5px 7px;
}
#right_layout select{
    min-width: 315px;
}
#right_layout textarea {
    /*    min-width: 500px;
        min-height: 300px;*/
}
#right_layout input[type=checkbox]{
    min-width: 0px;
}
#right_layout select:focus,#right_layout input:focus,.autocompete_input:focus{
    background-color: #FEFAE2
}
#right_layout select:hover,#right_layout input:hover,.mceEditor table.mceLayout:hover,.autocompete_input:hover{
    border: 1px solid #666666 !important;
}
.mceEditor table.mceLayout{
    -moz-border-radius: 3px 3px 3px 3px !important;
    -webkit-border-radius:3px 3px 3px 3px !important;
    border-radius:3px 3px 3px 3px !important;
    border: 1px solid #BBBBBB !important; 
    display:block !important;;
    height: auto !important;
}
.mceEditor iframe{
    width: 104% !important;
}
.autocomplete b {
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    background: url("/images/common/backgrounds/autocomplete.png") no-repeat scroll 0 0 transparent;
    border-left: 1px solid #BBBBBB;
    height: 28px;
    left: 287px;
    position: absolute;
    top: 1px;
    width: 27px;
    z-index: 1;
}
.autocomplete b:hover{
    background-color: #AACD4E
}
.autocomplete{
    position: relative;
}


/*errors*/
ul.error_list {
    margin: 0.2em 0;
}
ul.error_list li{
    font-size: 15px;
    list-style: none outside none;
    margin: 0;
    padding: 5px 7px;
    background: none repeat scroll 0 0 #FFB4AE;
    color: #801800;
}
ul.error_list li:first-child {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;

}
ul.error_list li:last-child {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/*tags*/
.tag-suggestions ul li{
    padding: 0.3em;
    background-color: #EFEFEF;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
.tag-suggestions ul li:hover{
    background-color: #FFFFDD
}
.tag-suggestions ul li:first-child{
    border-top: 1px solid #DDDDDD;
    -moz-border-radius: 4px 4px 0 0 ;
    -webkit-border-radius: 4px 4px 0 0 ;
    border-radius: 4px 4px 0 0 ;

}
.tag-suggestions ul li:last-child {
    border-bottom: 1px solid #DDDDDD;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
/*upload*/
.labeled {
    color: darkgray;
}
.customFile {
    position: relative;
    width: 219px;
    margin-left: -140px;
    cursor: default;
    height: 21px;
    z-index: 2;
    filter: alpha(opacity:0);
    opacity: 0;
    cursor: pointer;
}
.fakeButton {
    position: absolute;
    z-index: 1;
    width: 85px;
    height: 21px;
    background: url(/images/form/button.png) no-repeat left top;
    float: left;
    font-size: 10pt;
    padding: 2px 0 0 10px;
    margin-top:-20px;
    cursor: pointer;
}
.fakeButton.active {
    background: url(/images/form/button_active.png) no-repeat left top;
}

.blocker {
    position: absolute;
    z-index: 3;
    width: 150px;
    height: 21px;
    background: url(/images/form/transparent.gif);
    margin-left: -155px;
}
.fileName {
    position: absolute;
    height: 15px;
    margin: 2px 0 0px 90px;
    font-family: Verdana;
    font-size: 8pt;
    color: Gray;
    padding: 1px 0 0 19px;
    margin-top:-20px;    
}