#fiendsMy a.userpic{
    display: block;
    float:left;
    width: 30px;
}
#fiendsMy a.userpic img{
    border:0
}
#fiendsMy>div{
    clear:both;
}
#fiendsMy div.meta{
    width: 315px;
    float:left;
}

#fiendsMy div.meta div{
    width: 70px;
    float:left;
    position: absolute;
}
#fiendsMy div.meta a{
    display:block;
    padding-left: 70px;
    width: 245px;
}
#fiendsMy div.meta span{
    display:block;
    padding-left: 70px;
    width: 245px;
}
#fiendsMy div.actions{
    display: block;
    float: left;
}
#fiendsMy div.actions a{
    display: block;
}
