
.inboxContainer>a{
    wdith: 100%;
    border:1px solid black;
    display: block;
}
.inboxContainer ul{
    padding-top: 2em;
    list-style-type: none;
}
.inboxContainer  ul li{
    padding-bottom: 1em;
}

.inboxContainer  ul li p{
    padding: 0.5em 0 0 0.5em;
}
