.inboxContainer ul{
    padding-top: 2em;
    list-style-type: none;
}
.inboxContainer  ul li{
    padding-bottom: 1em;
}

.inboxContainer  ul li p{
    padding: 0.5em 0 0 0.5em;
}
#inbox {
    float: left;
    width: 77%;
}

#inbox div.qweqwe {
    padding: 5px 0 5px 20px;    
}

#inboxControl{
    border: 1px solid #eee;
    float: right;
    padding: 0.5em;
    width: 20%;
}
#inboxControl label{
    display: block;
    padding-top: 0.5em;
}
#inboxControl input{
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
    border: 1px solid #BBBBBB;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1em;
    padding: 5px 7px;
}
#inboxControl h4{
    padding-top: 1em;    
}
#inboxControl ul{
    list-style-type: none;
}
#inboxControl ul li{
    padding-top: 1em;
    padding: 0.5em 0 0 0.5em;
}
#inboxControl .delete{
    padding-left: 0.3em;
}
