/*details*/
.location .stat{
    float:left;
}

.location .stat p{
    line-height: 1.6em;
}
.location .stat table tr th{
    width: 120px;
    text-align: left;
    line-height: 2em;
}

.location .name{
    padding-bottom: 1em;
}
.location .name a{
    font-size: 2em;
}

.location #map{
    margin: 0 0 1em 0
}
.location .photo{
    float:right;
}
.location img{
    width: 400px;
}
.location .created{
    clear:both;
    padding: 2em 0 1em 0;
}

.location .description{
    padding: 2em 0 0 1em;
    clear:both;
}
.location .rating{
    font-size: 1em;
    font-weight: bold;
}

/*from*/
.location select{
    width: 100%;
}
.location input[type=text]{
    width: 100%;
}

.location table tbody tr th{
    width: 250px;
}

.location sub{
    color:#777;
    font-size: 0.5em;
}
.location .name{
    font-size:12px;
    font-weight:800;
}