/*map partial*/
.locationMap .name{
    padding-bottom: 1em;
}
.locationMap .name a{
    font-size: 2em;
}

.locationMap #map{
    margin: 0 0 1em 0
}

/*details*/
.location .stat{
    float:left;
}

.location .stat p{
    line-height: 1.6em;
}
.location .stat table tr th{
    width: 120px;
    text-align: left;
    line-height: 2em;
}
.location .photo{
    float:right;
}
.photo div.photos div.image{
    height: 350px;
    line-height: 350px;
}
.location .photo div.photos,.location .photo div.photos div.image,.location .photo div.photos ul.thumbs,.location .photo img{
    width: 498px;
}
.location .photo div.photos ul.thumbs li a img{
    width: 83px
}
.location .description{
    padding: 2em 0 0 1em;
    float: left;
}

.location .meta{
    clear:both;
    padding: 2em 0 1em 0;
}

.location .meta .rating{
    font-size: 1em;
    font-weight: bold;
}

/*from*/
.location select{
    width: 100%;
}
.location input[type=text]{
    width: 100%;
}

.location table tbody tr th{
    width: 250px;
}

.location sub{
    color:#777;
    font-size: 0.5em;
}
.location .name{
    font-size:12px;
    font-weight:800;
}

#commentContainer {
    display: none;
}
#commentContainer.selected{
    display: block;
}
#profitContainer {
    display: none;
}
#profitContainer.selected{
    display: block;
}
#eventContainer {
    display: none;
}
#eventContainer.selected{
    display: block;
}