@charset "utf-8";
/*styles*/

* {
    margin: 0;
    padding: 0;
}
a.dashed:visited {
    color:#0053E4;
}
a.dashed:link, a.dashed:active, a.dashed:visited, a.dashed:hover {
    border-bottom:1px dashed;
    text-decoration:none;
}

/*layout*/
div{
    border: 1px solid red;
}

#header{
    height:60px;
}

#logo{
    width:150px;
    float:left;
}
#site_menu{
    float:left;
}
#site_menu li{
    display:inline;
}

#left_layout{
    float:left;
    width:200px;
    height:600px;
}

#right_layout{
    float:left;
    width:800px;
}

#footer{
    clear:both;
}

#map{
    width: 100%;
    height: 500px;
}
#map_canvas{
    width: 100%;
    height: 500px;
    float:left;
}
