@charset "utf-8";

body {
    background: url("/images/common/backgrounds/back/noisy.png") repeat scroll 0 0 transparent;
    background-color: #EFEFEF;
}

#page {
    min-width: 1150px;
}

/*layout*/
#middle {
    padding-bottom: 20px;
    padding-top: 60px;
}

#left_layout {
    float: left;
    width: 20%;
    padding: 1em 1em 1.5em 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #DFDFDF;
}

#right_layout {
    float: right;
    width: 74%;
    /*    margin-left: 0.5em;*/
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #DFDFDF;
}

#right_layout .alert ul li {
    list-style: square outside;
    margin-left: 15px;
}

.content {
    /*    width: 90%;*/
    /*    min-width: 1150px;*/
    padding: 0 1.5em;
}

/*tab panel*/
.tabPanel {
    height: 26px;
    margin-bottom: 1.2em;
    overflow: hidden;
    position: relative;
}

.tabPanel ul {
    border-bottom: 1px solid #BBBBBB;
    bottom: 0;
    margin: 0;
    padding: 0 0 0 1em;
    position: absolute;
    width: 2000px;
}

.tabPanel ul li {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    list-style-type: none;
    margin-bottom: -2px;
    height: 22px;
    margin-right: 8px;
    white-space: nowrap;
}

.tabPanel ul li span {

    background-color: #EEEEEE;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    -moz-border-radius: 0.3em 0.3em 0 0;
    -webkit-border-radius: 0.3em 0.3em 0 0;
    border-radius: 0.3em 0.3em 0 0;

    display: inline;
    font-size: 0.9em;
    line-height: 1.3em;
    padding: 4px 6px;
    text-decoration: none;
    color: #333333;
    font-weight: normal;

}

.tabPanel ul li span:hover {
    cursor: pointer;
    background-color: #ffffdd;
}

.tabPanel ul li span.selected {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.addthis_toolbox {
    padding: 1em;
}

.addthis_toolbox a {
    margin-left: 0.5em !important;
}

/*meta*/
.meta {
    /*    padding-top: 1em;*/
}

.meta div {
    display: inline-block;
}

.text {
    padding: 0.5em 0 0.3em 1em;
}

/*table fix*/
table, th, td, tr {
    border: none;
}

.blockUI {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}