@charset "utf-8";

body{
    background-color: #EFEFEF;
}

/*layout*/
#middle{
    padding-bottom: 20px;
}
#left_layout{
    float:left;
    width: 20%;
    padding: 0.5em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #DFDFDF;
}

#right_layout{
    float:right;
    width: 76%;
    margin-left: 0.5em;
    padding: 0.5em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #DFDFDF;
}
.content{
/*    width: 90%;*/
    min-width: 1000px;
    margin:0 1.5em;
}


.tabPanel{
    border-bottom:1px solid #0053E4;
    margin-bottom: 0.5em;
    clear:both;
}
.tabPanel ul{
    list-style-type: none;
}
.tabPanel ul li{
    display: inline;
}
.tabPanel ul li span{
    text-decoration: none;
    padding: 0 1em;
    border-top:1px solid #0053E4;
    border-left:1px solid #0053E4;
    border-right:1px solid #0053E4;
}

.tabPanel ul li span:hover{
    color: #fff;
    cursor: pointer;
    background-color: #369;
}
.tabPanel ul li span.selected{
    border-bottom:1px solid white;
}
.tabPanel ul li a:link, a:active, a:visited, a:hover {
    text-decoration:none;
}