.navbar-inner a{
    font-size: 16px;
    font-weight: bold;
    /*    text-shadow: white 0 1px 1px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);*/
}

.brand{
    font-size: 25px;
    font-weight: 700 !important;
    padding-left: 45px !important;
    line-height: 30px !important;
    letter-spacing: 3px;    
    color: #759E1A !important;
}
.brand img{
    top:-9px;
    left:-6px;
    position: absolute;
    z-index: 100;
}
.nav a{
    line-height: 29px !important;
    letter-spacing: 1.5px !important;
}
.search-query{
    letter-spacing: 1.5px !important;
}
.search-query:-moz-placeholder {
    font-weight: bold !important;
}
.navbar-search{
    margin-top: 10px !important;
}

/*user menu*/
#user_menu {
    margin: -1em -1em 0 -1em /* border-right: 1px solid #DFDFDF;*/
}
#user_menu li:first-child, #user_menu li:first-child a, #user_menu li:first-child a span.label {
    -moz-border-radius:8px 8px 0 0;
    -webkit-border-radius:8px 8px 0 0;
    border-radius:8px 8px 0 0;
}
#user_menu li.selected a,
#user_menu li a:hover
{
    background:#d1d1d1 url(/images/common/backgrounds/bg_submenu.gif) repeat-x 0 0;
}

#user_menu li {
    background-color: #F6F6F6;
    border-bottom: 1px solid #DFDFDF;
    display: block;
    padding-bottom: 0;
    position: relative;
}
#user_menu li a {
    color: #404040;
    cursor: pointer;
    display: block;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
}
#user_menu li a span.label {
    display: block;
    min-height: 14px;
    padding: 14px 10px 16px 65px;
}
#user_menu li a span.icon {
    display: block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 60px;
}
strong {
    color: #313131;
    font-weight: bold;
}

#user_menu li a span.count {
    padding: 0;
    position: absolute;
    right: 10px;
    top: 9px;
}
#user_menu span.count span {
    -moz-border-radius: 6px ;
    -webkit-border-radius:6px ;
    border-radius:6px ;
    background-color: #AACD4E;
    color: white;
    display: inline-block;
    font-size: 11px;
    margin-right: 2px;
    padding: 4px;
}


.menu_block{
    font-size: 70%;
    padding-top: 50px;
}
#left_layout .menu_block:first-child{
    padding-top: 0px;
}

.menu_block li{
    padding: 5px 0 0 5px;
    margin: 10px 0 0 0;
    border-top: 1px solid #759E1A;
}
.menu_block li:first-child{
    padding-top: 0px;
    border: none;
}
.menu_block h4{
    color: #759E1A;
    font-size: 16px;  
    font-weight: bold;
    padding-bottom: 0px;
    text-transform: uppercase;
}
.menu_block h5{
    font-size: 14px;
}
.menu_block img.userpic{
    width: 24px;
    height: 24px;
}
.menu_block .createdBy{
    padding-left: 2em;
    text-align: left;
    display: block;
}
.menu_block .createdBy .when {
    float: right;
    padding-top: 6px;
}
