.photos {
    width:800px;
    margin-bottom:1em;
    border: 1px solid blue;
}

.photos {
    position:relative;
}

.photos .image {
    cursor:pointer;
    height:600px;
    line-height:600px;
    vertical-align:bottom;
    width:800px;
}
.photos .image img{
    margin: auto;
    /*    width:452px;*/
}

.photos .image img.loading{
    margin: 150px auto;
    width:100px;
}

.photos .image {
    overflow:hidden;
    position:relative;
    text-align:center;
    vertical-align:middle;
}

.photos .thumbs {
    list-style:none outside none;
    overflow:hidden;
    width: 800px;
}
.photos .thumbs {
    list-style:none outside none;
}

.photos .thumbs li {
    float:left;
    margin:0;
    padding:0;
    position:relative;
}

.photos .thumbs li a {
    border:0 none;
    display:block;
    outline:0 none;
}

.photos .thumbs li a.loaded img {
    filter:none;
    opacity:1;
}
.photos .thumbs li a img {
    display:block;
    opacity:0.5;
    height: 60px;
    width: 80px;
    border:0 none;
}