.photos {
    margin-bottom:1em;
}

.photos {
    position:relative;
}

.photos .image {
    overflow:hidden;
    position:relative;
    text-align:center;
    vertical-align:middle;
}

.photos .thumbs {
    list-style:none outside none;
    overflow:hidden;
}
.photos .thumbs {
    list-style:none outside none;
}

.photos .thumbs li {
    float:left;
    margin:0;
    padding:0;
    position:relative;
}

.photos .thumbs li a {
    border:0 none;
    display:block;
    outline:0 none;
}

.photos .thumbs li a.loaded img {
    filter:none;
    opacity:1;
}
.photos .thumbs li a img {
    display:block;
    /*opacity:0.5;*/
    height: 75px;
    width: 100px;
    border:0 none;
}