.fileLoader {
    border:1px solid #949DAD;
    height:0.5em;
    margin:2px 0;
    overflow:hidden;
    padding:1px;
    width:100px;
}

.fileLoader div {
    background:none repeat scroll 0 0 #D4E4FF;
    background-image:url("/images/progress_bar.gif");
    background-repeat:repeat-x;
    font-size:0;
    height:100%;
    width:0;
}

#buttonPlaceholder {
    display: inline;
    border: 1px solid rgb(127, 170, 255);
    background-color: rgb(197, 217, 255);
    padding: 2px
}

#uploadButton {
    display: inline;
    border: 1px solid rgb(127, 170, 255);
    background-color: rgb(197, 217, 255);
    padding: 2px
}
