.userpic{
    position: relative;
    display: inline-block;
    margin-right: 6px;
}
.userpic b.s32{
    background: url("/images/common/backgrounds/bg_avatar_mask_32.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
}
.userpic b.s48{
    background: url("/images/common/backgrounds/bg_avatar_mask_48.gif") no-repeat scroll 0 0 transparent;
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 48px;
}
.userpic b.s24{
    background: url("/images/common/backgrounds/bg_avatar_mask_24.gif") no-repeat scroll 0 0 transparent;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}
.profile .personal {
}
.profile .personal .info .rating{
    float: left;
    display: inline-block;
}
.profile .personal .info .userpic{
    float: left;
    display: inline-block;
}
.profile .personal .info .name{
    padding-left: 1em;
    display: inline-block;
}
.profile .personal .info p{
    display: block;
}

.profile .personal .info ul{
    list-style-type: none;
    padding-left:10px;
}

.profile .achieves {

}
.profile .achieves .fish{
    width: 30%;
    display: block;
}
.profile .achieves .style{
    width: 30%;
    border-left: 1px solid #DFDFDF;
    float: left;
    display: block;
    margin: 1em 0 0 0.5em;
    padding: 0 0 0 2.5em;
}
.profile .achieves .style ul li {
    float: left;
    display: block;
    padding: 0.5em 0 0 1em;
}
.profile .friends{
    clear:both;
    padding: 0.5em 0em 0.3em 1em;
}
.profile .friends div{
    padding-top: 2em;
    clear: both;
}
.profile .friends ul li{
    float: left;
    display: block;
    padding: 0.5em 0 0 1em;
}

.profile #profitContainer{
    display: block;
}

#profileContainer {
    display: none;
}
#profileContainer.selected{
    display: block;
}
#settingsContainer {
    display: none;
}
#settingsContainer.selected{
    display: block;
}
#passwordContainer {
    display: none;
}
#passwordContainer.selected{
    display: block;
}
#mailContainer {
    display: none;
}
#mailContainer.selected{
    display: block;
}


.user_list {
    display: block;
    clear:both;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #EDEDED;
    height: 70px;

}
.user_list div{
    display: block;
    float: left;
    padding-left: 1em;
    height: 70px;
}

.user_list div.rating{
    display: inline;
    float: left;
    padding: 0;
}
.user_list .name{
    width: 200px;
    font-size: larger;
}
.user_list .info{    
    width: 150px;
    font-size: smaller;
}
.user_list .actions{
}
.user_list .name a,.user_list .actions a{
    display: block;
}

.achieves .button_01{
    clear: both;
    display: block;
}
.achieves .friends .empty{
    display: none;
}
