/*profit brief*/
.profitBrief{
    padding-top: 1em;
    padding-bottom: 2em;
}

/*profit details table*/
table.profitDetails ,.profitDetails tr,.profitDetails th,.profitDetails td{
    border:none;
}
.profitDetails 
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.profitDetails  th
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
    border-bottom: 2px solid #6678b1;
}
.profitDetails  tfoot td
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
    border-top: 1px dashed #6678b1;
}
.profitDetails  td
{
    padding: 8px;
    color: #669;
}
.profitDetails  .odd
{
    background: #e8edff;
}
.profitDetails  tr > td:last-child,th:last-child {
    text-align: right
}
#profit_styles,#profit_fishes,#profit_qty{
    width: 200px !important;
    min-width: 200px !important;
}


/*profit full*/
.profitFull .meta{
    clear:both;
    padding: 2em 0 1em 0;
}
.profitFull .meta .rating{
    font-size: 1em;
    font-weight: bold;
}
.profitFull .where{
    text-align: right;
}

.profitFull .best{
    padding: 0 0 10px 0px;
}
.profitFull .text{
    padding: 10px 0 0 5px;
}
/* form */
.profitNew fieldset{
    border: none;
}
.profitNew #profit_weight{
    width: 200px;
    min-width: 100px;
}
.profitNew #profit_fish_id{
    width: 275px;
    min-width: 200px;
}
.profitNew #profit_date{
    width: 5em;
}
.profitNew dl {
    margin:0 0 1em;
}
.profitNew dl dt{
    font-weight:bold;
}
.profitNew #profit_cordage,.profitNew #profit_description{
    width: 700px;
    height: 300px;
}

/*formMap*/
.profit{
    width: 70em;
}
.profit sub{
    color:#777;
    font-size: 0.5em;
}
.profit input[type=text]{
    width: 99%;
}
.profit form table tbody tr th{
    text-align: right;
    vertical-align: top;
}
.profit form{
    float: left;
}

.profit #profit_qty{
    width: 2em;
}
