.userpic{
    position: relative;
    display: inline-block;
    margin-right: 6px;
}
.userpic b.s32{
    background: url("/images/common/backgrounds/bg_avatar_mask_32.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
}
.userpic b.s48{
    background: url("/images/common/backgrounds/bg_avatar_mask_48.gif") no-repeat scroll 0 0 transparent;
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 48px;
}
.userpic b.s24{
    background: url("/images/common/backgrounds/bg_avatar_mask_24.gif") no-repeat scroll 0 0 transparent;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}
.profile .personal {
}
.profile .personal .userpic{
    float:left;
}
.profile .personal .info{
    float:left
}
.profile .personal .info p a img{
    border: none;
}
.profile .personal .info ul{
    list-style-type: none;
    padding-left:10px;
}

.profile .achieves {
    clear:both;
}


#profileContainer {
    display: none;
}
#profileContainer.selected{
    display: block;
}
#settingsContainer {
    display: none;
}
#settingsContainer.selected{
    display: block;
}
#passwordContainer {
    display: none;
}
#passwordContainer.selected{
    display: block;
}
#mailContainer {
    display: none;
}
#mailContainer.selected{
    display: block;
}