/*profit brief*/
.profitBrief  {
    padding-bottom:2em;
}
.profitBrief .message {
    padding:5px 5px 0.5em;
    position:relative;
}
.profitBrief .bar {
    color:#666666;
    font-size:0.8em;
    line-height:140%;
    position:relative;
    width:100%;
}
.profitBrief .bar #newprofit{
    margin-left: 30px;
    margin-top: 2em;
}

.profitBrief .bar .rating{
    font-size: 1em;
    font-weight: bold;
}
.profitBrief .name{
    padding-top: 1em;
}

/*profit details table*/

.profitDetails 
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.profitDetails  th
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
    border-bottom: 2px solid #6678b1;
}
.profitDetails  tfoot td
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
    border-top: 1px dashed #6678b1;
}
.profitDetails  td
{
    padding: 8px;
    color: #669;
}
.profitDetails  .odd
{
    background: #e8edff;
}
.profitDetails  tr > td:last-child,th:last-child {
    text-align: right
}
.profitNew #profit_qty{
    width: 3em;
}
.profitNew #addProfitDetail{
    width: 2em;
}


/*profit full*/
.profitFull .meta{
    clear:both;
    padding: 2em 0 1em 0;
}
.profitFull .meta .rating{
    font-size: 1em;
    font-weight: bold;
}
.profitFull .where{
    text-align: right;
}

.profitFull .best{
    padding: 0 0 10px 0px;
}
.profitFull .text{
    padding: 10px 0 0 5px;
}
/* form */
.profitNew fieldset{
    border: none;
}
.profitNew input, textarea{
    width: 100%;
}
.profitNew #profit_best_weight{
    width: 3em;
}
.profitNew #profit_date{
    width: 5em;
}
.profitNew dl {
    margin:0 0 1em;
}
.profitNew dl dt{
    font-weight:bold;
}
/*formMap*/
.profit{
    width: 70em;
}
.profit sub{
    color:#777;
    font-size: 0.5em;
}
.profit input[type=text]{
    width: 99%;
}
.profit form table tbody tr th{
    text-align: right;
    vertical-align: top;
}
.profit form{
    float: left;
}
/*||||||||||||||||||||||||||||||||||||||||||||||||||
s styles for tables
||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.profit div table{ border-collapse: collapse; clear: both; margin: 0 0 5px 0; }
.profit div th{ background-color: #ebf6f8; border: 1px solid #8cdae5; font-size: 11px; font-weight: bold; padding: 2px 4px; text-align: left; }
.profit div td{ border-bottom: 1px solid #dadada; border-right: 1px solid #f0f0f0; font-size: 11px; padding: 5px 4px; }
/*-------------------- scrollable---------------------*/
div.tableContainer { float: left; height: 225px; margin-bottom: 3px; overflow: hidden; width: 266px; }
div.tableContainer table { width: 260px; }

.tableContainer thead tr { display: block; }
.tableContainer thead th{ display: table-cell; font-size: 11px; padding: 2px 4px !important; }
.tableContainer td{ display: table-cell; padding: 4px; }
html:not([dummy]) .tableContainer thead th { width: 190px; }
html:not([dummy]) .tableContainer thead th + th { width: 58px; }
.tableContainer tr > th:last-child{ }

.tableContainer tbody { display: block; height: 160px; overflow: auto; }
.tableContainer tbody td, [dummy="dummy"]{ width: 150px; }
.tableContainer tbody td + td, [dummy="dummy"] { width: 38px; }
.tableContainer tr > td:last-child{ white-space: nowrap; }

.tableContainer tfoot tr { display: block; }
.tableContainer tfoot td{ display: table-cell; font-size: 11px; padding: 2px 4px !important; }
.tableContainer tfoot td, [dummy="dummy"]{ width: 152px; }
.tableContainer tfoot td + td, [dummy="dummy"] { width: 38px; }

.profit #profit_qty{
    width: 2em;
}

/* last block */
#profitLast{
    margin: 0.5em;
    background-color: #E8EDFF;
}
#profitLast span{
    display: block;
    font-size: x-small;
    text-align: right;
}