/*profit brief*/
.profitBrief  {
    padding-bottom:2em;
}
.profitBrief .message {
    padding:5px 5px 0.5em;
    position:relative;
}
.profitBrief .bar {
    color:#666666;
    font-size:0.8em;
    line-height:140%;
    position:relative;
    width:100%;
}
.profitBrief .bar #newprofit{
    margin-left: 30px;
    margin-top: 2em;
}

.profitBrief .bar .rating{
    font-size: 1em;
    font-weight: bold;
}
.profitBrief .name{
    padding-top: 1em;
}

/*profit details table*/
table.profitDetails ,.profitDetails tr,.profitDetails th,.profitDetails td{
    border:none;
}
.profitDetails 
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.profitDetails  th
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
    border-bottom: 2px solid #6678b1;
}
.profitDetails  tfoot td
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
    border-top: 1px dashed #6678b1;
}
.profitDetails  td
{
    padding: 8px;
    color: #669;
}
.profitDetails  .odd
{
    background: #e8edff;
}
.profitDetails  tr > td:last-child,th:last-child {
    text-align: right
}
#profit_styles,#profit_fishes,#profit_qty{
    width: 100px !important;
    min-width: 100px !important;
}


/*profit full*/
.profitFull .meta{
    clear:both;
    padding: 2em 0 1em 0;
}
.profitFull .meta .rating{
    font-size: 1em;
    font-weight: bold;
}
.profitFull .where{
    text-align: right;
}

.profitFull .best{
    padding: 0 0 10px 0px;
}
.profitFull .text{
    padding: 10px 0 0 5px;
}
/* form */
.profitNew fieldset{
    border: none;
}
.profitNew #profit_best_weight{
    width: 3em;
}
.profitNew #profit_date{
    width: 5em;
}
.profitNew dl {
    margin:0 0 1em;
}
.profitNew dl dt{
    font-weight:bold;
}
/*formMap*/
.profit{
    width: 70em;
}
.profit sub{
    color:#777;
    font-size: 0.5em;
}
.profit input[type=text]{
    width: 99%;
}
.profit form table tbody tr th{
    text-align: right;
    vertical-align: top;
}
.profit form{
    float: left;
}

.profit #profit_qty{
    width: 2em;
}
