.rating{
    float:left;
    font-size:0.6em;
    width: 70px;
    text-align: right;
    margin: 0 5px 0 -25px;
}
.rating a img{
    border:none;
    width: 9px;
    height: 9px;
}
.rating a {
    display:none;
}
.rating.look a{
    display:inline;
}
.rating.voting span{
    background-color: #ccc;
}
.rating.voting a{
    display:none;
}
.rating a.voted{
    cursor:default !important;
    display:inline;
}