.sectionMenu ul {
    list-style:none outside none;
}
.section {
    margin-left:30px;
    position:relative;
}
.talkBrief{
    margin-top: 3em;
}
.talkBrief p{
    margin: 0.5em;
}
.talkBrief .meta{
    clear: both;
    height: 20px;
    margin-top: 10px;
    font-size: 12pt;
    color: #444;
}