
/*talks show*/
.talkWrapper .meta{
    clear: both;
    display: block;
}
.talk {
    display: block;
    float: left;
}
.talk h2{
    padding-top: 1em;
}

/*sections tree*/
.sectionMenu ul {
    list-style:none outside none;
}
.sectionMenuShow ul{
    list-style:none outside none;
}
.sectionMenuShow ul li{
    display:inline;
}
.section {
    margin-left:30px;
    position:relative;
}

/*list talks*/
.talkBrief{
    margin-top: 5em;
}
.talkBrief .meta{
    clear: both;
    height: 20px;
    font-size: 12pt;
    color: #444;
    padding: 0;
}

/*talk tags*/
.assigned-tags  {
    background: url("/images/icons/tags/icon.gif") no-repeat scroll;
    min-height: 2em;
}
.assigned-tags ul {
    padding-left: 2em;
    list-style:none outside none;
}
.assigned-tags li {
    display:inline;
    color: #fff;
    margin: 0px 2px;
    font-size: 8pt;
}


/*tag cloud*/
.tagCounter li{
    display: inline-block;
    margin: 8px 5px;
}
.tagCounter {
    list-style:none outside none;
}

/* last block */
#talkRelated{
    float: right;
    width: 30%;
    padding: 0.5em;
    margin-top: 1em;
    background-color: #F6F6F6;
    border: 1px solid #DFDFDF;
}
#talkRelated span{
    display: block;
    font-size: x-small;
    text-align: right;
}
#talkRelated div {
}
#talkRelated div p {
    margin-top:0.5em;
}

.related{
    padding-top: 1em;
}
.related .meta{
    padding: 0;
    text-align: right;
}